.highlight{
    margin: 50px 0;
    padding: 20px 0 30px 0;
    text-align: center;
}

.highlight-image{
    margin-bottom: 15px;
}

.blog-links,
.blog-links:hover,
.blog-links:after {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 800px) {
  .highlight{
    margin: 20px 0;
  }

  .title{
    font-size: 1rem;

  }

  .highlight-image{
    
  }

  .excerpt{
    font-size: 0.6rem;
  }
}