.main-container {
  font-family: "Noto Sans JP", sans-serif;
}

.go-up {
  position: fixed;
  right: 5%;
  bottom: 25%;
  cursor: pointer;
}

.go-up > img {
  width: 50px;
}

.go-up > p {
  color: #4a8b50;
}

.go-back {
  position: fixed;
  right: 10%;
  bottom: 25%;
}

.go-back img {
  width: 50px;
}

.go-back p {
  color: #4a8b50;
}

.go-back a {
  text-decoration: none;
}

.blog-heading {
  font-size: 2.5em;
}

.blog-heading-metadata {
  font-size: 0.8em;
}

.blog-body h1 {
  font-size: 1.8em;
}

.blog-body h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.blog-body h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.blog-body h4 {
  font-size: 1.2em;
}

.blog-body h5 {
  font-size: 1.2em;
}

.blog-body h6 {
  font-size: 1.1em;
}

.blog-table-of-contents {
  font-size: 0.8em;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 10px;
  overflow-x: hidden;
}

.blog-table-of-contents-heading {
  font-size: medium;
  font-weight: bold;
}

.blog-table-of-contents ul {
  list-style-type: none;
  padding-left: 0;
}

.blog-table-of-contents li > a,
.blog-table-of-contents ul > li > p > a {
  text-decoration: none;
  color: gray;
  overflow: scroll;
}

.blog-table-of-contents li > a:hover {
  color: black;
}

.blog-table-of-contents li > ul {
  display: none;
}

.blog-table-of-contents p {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .blog-heading {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .blog-heading-metadata {
    font-size: 0.6em;
  }

  .blog-table-of-contents {
    display: none;
  }

  .blog-body {
    width: 100%;
  }

  .blog-body * {
    font-size: 10px;
    text-align: justify;
    width: 100%;
  }

  .blog-body h1 {
    font-size: 1.5em;
  }

  .blog-body h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .blog-body h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  .blog-body h4 {
    font-size: 1.1em;
  }

  .blog-body h5 {
    font-size: 1em;
  }

  .blog-body h6 {
    font-size: 1em;
  }
}
