.main-container {
  font-family: "Noto Sans JP", sans-serif;
}

.platform-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.my-name {
  font-size: 7em;
  background-color: #4a8b50;
  color: #FFF;
  font-weight: bolder;
  align-self: flex-end;
  text-align: center;
  flex-basis: 50%;
  flex-grow: 1;
}

.my-name-topic {
  margin-top: 50px;
  margin-bottom: 30px;
}

.sub-heading{
  font-size: 1.3rem;
  background-color: white;
  color: #4a8b50;
}

@media screen and (max-width: 800px) {
  .main-container {
    width: 100%;
  }

  .my-name-topic{
    margin: 10px auto;
  }

  .my-name {
    font-size: 4rem;
  }


}
