.write-container{
    margin-top: 25px;
    margin-bottom: 25px;
}

.write-container p{
    line-height: 2;
}

@media screen and (max-width: 800px) {
    .write-container{
        margin: 15px auto;
        font-size: .8rem;
    }
}