.list-item-container {
  text-align: center;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 2px solid white;
}

.list-item {
  flex-grow: 1;
  color: inherit;
  font-weight: bold;
}

.list-item:hover {
  text-decoration: none;
  color: inherit;
}

.list-item-container:hover{
    background-image: url('../../images/highlight.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-color: white;
    background-position-y: center;
    background-position-x: center;
    color: white;
}

@media screen and (max-width: 800px) {
  .list-item-container {
    width: 100%;
    flex: 1;
    background-color: #4a8b50;
    text-align: center;
  }

  .hide-element {
    display: none;
  }

  .list-item {
    display: block;
    margin-top: 20px;
    font-size: 1.5em;
  }
}
