.main-container {
  background-color: #4a8b50;
  display: flex;
  align-items: center;
  color: white;
  height: 180px;
  font-family: "Noto Sans JP", sans-serif;
}

.brand {
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.social-media,
.links-main-container,
.only-links-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.social-media {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4% 0;
}

.link {
  text-decoration: none;
  color: white;
}

.icon-set:hover,
.link:hover {
  text-decoration: none;
  color: yellowgreen;
  fill: yellowgreen;
  cursor: pointer;
}

.header {
  font-size: large;
}

.icon-set {
  display: flex;
  align-items: center;
}

.icon-set img {
  width: 25px;
  margin: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .brand {
    position: absolute;
    width: 40%;
    margin-top: -40px;
    margin-left: 3px;
    font-size: 1em;
    font-weight: bold;
  }

  .social-media {
    flex-direction: row;
    height: fit-content;
    width: 30%;
  }

  .icon-set img {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }

  .icon-set a {
    display: none;
  }

  .only-links-container {
    text-align: center;
  }

  .link {
    font-size: 0.8em;
  }

  .header {
    display: none;
  }
}
