.main-container {
  background-color: #4a8b50;
  display: flex;
  align-items: center;
  color: white;
  height: 250px;
  font-family: "Noto Sans JP", sans-serif;
}

.brand {
  flex-grow: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media,
.links-main-container,
.only-links-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.social-media {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4% 0;
}

.link {
  text-decoration: none;
  color: white;
}

.icon-set:hover,
.link:hover {
  text-decoration: none;
  color: yellowgreen;
  fill: yellowgreen;
  cursor: pointer;
}

.header {
  font-size: large;
}

.icon-set {
  display: flex;
  align-items: center;
}

.icon-set img {
  width: 25px;
  margin: 5px;
}
