.container {
  background-color: #4a8b50;
  color: white;
  display: flex;
  height: 50px;
}

.brand-container {
  flex-grow: 3;
}

.brand {
  font-size: 30px;
  margin-left: 80px;
  flex-grow: 3;
  text-decoration: none;
  color: inherit;
}

.brand:hover {
  text-decoration: none;
  color: inherit;
}

.unorderedlist {
  list-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
  flex-grow: 1;
  align-self: flex-end;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listitem {
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
}

.listitem:hover {
  text-decoration: none;
  color: yellowgreen;
}
