.main-container {
}

.section-container {
  margin-top: 40px;
}

.section-header-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.section-header {
  font-size: 1.4em;
}

.open-button {
}

.section-text {
  text-align: justify;
}

.open-button:hover {
  cursor: pointer;
}

.hide-element {
  display: none;
}

.show-element {
  display: block;
}
