.page-subheading {
  font-size: 0.8em;
}

.blog-container {
  margin-bottom: 15px;
  padding: 15px 10px;
  border-bottom: 1px solid lightgray;
}

.blog-list-container{
  display: flex;
}

.blog-list-image{
  margin-right: 15px;
}



.blog-links,
.blog-links:hover,
.blog-links:after {
  text-decoration: none;
  color: inherit;
}

.blog-title {
  font-size: 1.5em;
}

.blog-post-date {
  font-size: 0.8em;
}
