.resume-container {
  display: flex;
  /* border: 1px solid red; */
  background-color: #4a8b50;
}

.summary-container {
  /* border: 1px solid red; */
  background-color: #4a8b50;
  color: white;
  width: 30%;
  min-width: 285px;
}

.detail-resume-container {
  /* border: 1px solid red; */
  background-color: white;
  width: 70%;
  min-width: 530px;
  padding-left: 20px;
}

.fixed-container {
  position: fixed;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

.image-container {
  border-radius: 50px;
  margin-bottom: 20px;
}

.resume-image {
  border-radius: 50%;
  height: 200px;
  box-shadow: 0 0 15px 5px #2a612d;
}

.summary-info-container {
  text-align: center;
  text-shadow: 0 0 10px black;
}

.my-name {
  font-size: 1.3em;
  font-weight: bold;
}

.my-address {
}

.my-email {
}

.my-phone {
}

.my-social-container {
}

.profile-highlights {
  width: 100%;
}

.section-container {
  margin-top: 100px;
}

.section-container:first-child {
  margin-top: 50px;
}

.section-header {
  font-weight: bold;
  text-align: center;
}

.highlight-list {
}

.highlight-list-item {
}

.degree-name {
}

.degree-institute {
}

.degree-year {
}

.degree-award {
}

.experience {
}

.experience-position {
}

.experience-organization {
}

.experience-tenure {
}

.experience-responsibilities {
}

.list-of-responsibilities {
}

.responsibility {
}

.volunteer {
}

.volunteerPosition {
}

.volunteer-organization {
}

.volunteer-tenure {
}
.volunteer-responsibilities {
}
