.resume-container {
  display: flex;
  /* border: 1px solid red; */
  background-color: #4a8b50;
}

.summary-container {
  /* border: 1px solid red; */
  background-color: #4a8b50;
  color: white;
  width: 30%;
  min-width: 285px;
}

.detail-resume-container {
  /* border: 1px solid red; */
  background-color: white;
  width: 70%;
  min-width: 530px;
  padding-left: 20px;
}

.fixed-container {
  position: fixed;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

.image-container {
  border-radius: 50px;
  margin-bottom: 20px;
}

.resume-image {
  border-radius: 50%;
  height: 200px;
  box-shadow: 0 0 15px 5px #2a612d;
}

.summary-info-container {
  text-align: center;
  text-shadow: 0 0 10px black;
}

.my-name {
  font-size: 1.3em;
  font-weight: bold;
}

.my-address {
}

.my-email {
}

.my-phone {
}

.my-social-container {
}

.profile-highlights {
  width: 100%;
}

.section-container {
  margin-top: 100px;
}

.section-container:first-child {
  margin-top: 50px;
}

.section-header {
  font-weight: bold;
  text-align: center;
}

.highlight-list {
}

.highlight-list-item {
}

.degree-name {
}

.degree-institute {
}

.degree-year {
}

.degree-award {
}

/* the vertical ruler*/
.experiences-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* the vertical ruler*/
.experiences-container::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #4a8b50;
  top: 0;
  bottom: 0;
  left: 5%;
}

/* Outer Container of the Content*/
.experience {
  padding: 10px 70px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* Add arrows to the right container (pointing left) */
.experience::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 18px;
  width: 0;
  z-index: 1;
  left: 60px;
  border: medium solid #4a8b50;
  border-width: 10px 10px 10px 0;
  border-color: transparent #4a8b50 transparent transparent;
}

/* Circles on the timeline */
.experience::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #4a8b50;
  border: 4px solid #ff9f55;
  top: 15px;
  left: 3%;
  border-radius: 50%;
  z-index: 1;
}

/* The actual content */
.experience-container {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  border: 5px solid #4a8b50;
}

.experience-position {
}

.experience-organization {
}

.experience-tenure {
}

.experience-responsibilities {
}

.list-of-responsibilities {
}

.responsibility {
}

.volunteer {
}

.volunteerPosition {
}

.volunteer-organization {
}

.volunteer-tenure {
}
.volunteer-responsibilities {
}
