.main-container {
  display: flex;
  align-items: center;
  color: white;
  height: 100px;
  font-family: "Noto Sans JP", sans-serif;
}

.internal-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #4a8b50;
  padding-top: 20px;
}

.social-media{
  display: flex;
  align-items: baseline;
  width: 50%;
}

.only-links-container {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.social-media {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: #4a8b50;
  font-weight: bold;
  margin: 10px 25px;
}

.link:hover {
  text-decoration: none;
  color: yellowgreen;
  fill: yellowgreen;
  cursor: pointer;
}

.header {
  font-size: large;
}


@media screen and (max-width: 800px) {
  .brand {
    position: absolute;
    width: 40%;
    margin-top: -40px;
    margin-left: 3px;
    font-size: 1em;
    font-weight: bold;
  }

  .social-media {
    flex-direction: row;
    height: fit-content;
    width: 30%;
  }

  .button-title {
    display: none;
  }

  .only-links-container {
    text-align: center;
  }

  .link {
    font-size: 0.8em;
  }

  .header {
    display: none;
  }
}
